.fa {
  background-color: #151515;
  color: #eeeeee;
  height: 200px;

}
.cot {
  display: flex;
  justify-content: space-between;
}
a {
  list-style: none;
  text-decoration: none;
  color: #eeeeee;
}
.foot {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8d8b8b;
}
